.outer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  align-items: center;
  width: 300px;
}

.previousInputStyle{
  font-size: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 10px 0;
  background-color: transparent;
  text-align: end;
  color: #555;
}

.inputStyle{
  font-size: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
  text-align: end;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
